.large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12, .large-13, .large-14, .large-15, .large-16, .large-17, .large-18{
	background: url(../images/categories/largeSprites.png) no-repeat;
	z-index: 0;
	position:absolute;
	margin:5px;
}

.large-1{
	background-position: -11px -10px ;
	width: 150px;
	height: 150px;
}

.large-2{
	background-position: -181px -11px ;
	width: 150px;
	height: 150px;
}

.large-3{
	background-position: -346px -12px ;
	width: 150px;
	height: 150px;
}

.large-4{
	background-position: -515px -14px ;
	width: 150px;
	height: 150px;
}

.large-5{
	background-position: -682px -16px ;
	width: 150px;
	height: 150px;
}

.large-6{
	background-position: -851px -16px ;
	width: 150px;
	height: 150px;
}

.large-7{
	background-position: -1021px -16px ;
	width: 150px;
	height: 150px;
}

.large-8{
	background-position: -1190px -18px ;
	width: 150px;
	height: 150px;
}

.large-9{
	background-position: -7px -178px ;
	width: 150px;
	height: 150px;
}

.large-10{
	background-position: -176px -183px ;
	width: 150px;
	height: 150px;
}

.large-11{
	background-position: -344px -182px ;
	width: 150px;
	height: 150px;
}

.large-12{
	background-position: -513px -181px ;
	width: 150px;
	height: 150px;
}

.large-13{
	background-position: -684px -180px ;
	width: 150px;
	height: 150px;
}

.large-14{
	background-position: -854px -182px ;
	width: 150px;
	height: 150px;
}

.large-15{
	background-position: -1022px -183px ;
	width: 150px;
	height: 150px;
}

.large-16{
	background-position: -1192px -184px ;
	width: 150px;
	height: 150px;
}
.large-17{
	background-position: -1192px -184px ;
	width: 150px;
	height: 150px;
}
.large-18{
	background-position: -1192px -184px ;
	width: 150px;
	height: 150px;
}

.medium-1, .medium-2, .medium-3, .medium-4, .medium-5, .medium-6, .medium-7, .medium-8, .medium-9, .medium-10, .medium-11, .medium-12, .medium-13, .medium-14, .medium-15, .medium-16, .medium-17, .medium-18 {
	background: url(../images/categories/mediumSprites.png) no-repeat;
	z-index: 0;
	position:absolute;
	margin:5px;
}

.medium-1{
	background-position: -22px -21px ;
	width: 66px;
	height: 66px;
}

.medium-2{
	background-position: -116px -21px ;
	width: 66px;
	height: 66px;
}

.medium-3{
	background-position: -205px -23px ;
	width: 66px;
	height: 66px;
}

.medium-4{
	background-position: -289px -24px ;
	width: 66px;
	height: 66px;
}

.medium-5{
	background-position: -50px -121px ;
	width: 66px;
	height: 66px;
}

.medium-6{
	background-position: -139px -122px ;
	width: 66px;
	height: 66px;
}

.medium-7{
	background-position: -380px -22px ;
	width: 66px;
	height: 66px;
}

.medium-8{
	background-position: -474px -20px ;
	width: 66px;
	height: 66px;
}

.medium-9{
	background-position: -223px -122px ;
	width: 66px;
	height: 66px;
}

.medium-10{
	background-position: -309px -122px ;
	width: 66px;
	height: 66px;
}

.medium-11{
	background-position: -392px -122px ;
	width: 66px;
	height: 66px;
}

.medium-12{
	background-position: -480px -120px ;
	width: 66px;
	height: 66px;
}

.medium-13{
	background-position: -49px -211px ;
	width: 66px;
	height: 66px;
}

.medium-14{
	background-position: -133px -213px ;
	width: 66px;
	height: 66px;
}

.medium-15{
	background-position: -230px -217px ;
	width: 66px;
	height: 66px;
}

.medium-16{
	background-position: -323px -219px ;
	width: 66px;
	height: 66px;
}

.medium-17{
	background-position: -323px -219px ;
	width: 66px;
	height: 66px;
}
.medium-18{
	background-position: -323px -219px ;
	width: 66px;
	height: 66px;
}
.mini-1, .mini-2, .mini-3, .mini-4, .mini-5, .mini-6, .mini-7, .mini-8, .mini-9, .mini-10, .mini-11, .mini-12, .mini-13, .mini-14, .mini-15, .mini-16, .mini-17, .mini-18{
	background: url(../images/categories/miniSprites.png) no-repeat;
	z-index: 0;
	position:absolute;
	margin:5px;
}

.mini-1{
	background-position: -14px -9px ;
	width: 25px;
	height: 25px;
}

.mini-2{
	background-position: -47px -9px ;
	width: 25px;
	height: 25px;
}

.mini-3{
	background-position: -83px -9px ;
	width: 25px;
	height: 25px;
}

.mini-4{
	background-position: -116px -9px ;
	width: 25px;
	height: 25px;
}

.mini-5{
	background-position: -150px -10px ;
	width: 25px;
	height: 25px;
}

.mini-6{
	background-position: -185px -10px ;
	width: 25px;
	height: 25px;
}

.mini-7{
	background-position: -220px -10px ;
	width: 25px;
	height: 25px;
}

.mini-8{
	background-position: -255px -11px ;
	width: 25px;
	height: 25px;
}

.mini-9{
	background-position: -15px -45px ;
	width: 25px;
	height: 25px;
}

.mini-10{
	background-position: -52px -46px ;
	width: 25px;
	height: 25px;
}

.mini-11{
	background-position: -84px -48px ;
	width: 25px;
	height: 25px;
}

.mini-12{
	background-position: -118px -46px ;
	width: 25px;
	height: 25px;
}

.mini-13{
	background-position: -157px -46px ;
	width: 25px;
	height: 25px;
}

.mini-14{
	background-position: -192px -48px ;
	width: 25px;
	height: 25px;
}

.mini-15{
	background-position: -225px -48px ;
	width: 25px;
	height: 25px;
}

.mini-16{
	background-position: -262px -47px ;
	width: 25px;
	height: 25px;
}
.mini-17{
	background-position: -262px -47px ;
	width: 25px;
	height: 25px;
}

.mini-18{
	background-position: -262px -47px ;
	width: 25px;
	height: 25px;
}

.homepage {
	position:relative;
	display:inline-block;

}
