

/* Oppa GiftFlow style!
 *
 * Shades of Green: 
 * original green: #54b23e
 * light green: #6bc557
 * moderately desaturated light green: #72c55f
 * desaturated light green: #88c57a
 * more: #6BDC5F
*/

/*site-wide style 
 *	For selectors used across multiple pages
 */

body { 
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	/*background-image: url('../images/background-whitey.jpg');*/
	background-image: url('../images/dark_bg_noise.png');
	color: #666;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	padding: 0;
	display:block !important;
}


#header {
	background: #72c55f url('../images/topnav_texture.png') repeat-x;
	height: 53px;
}
#main {
	background-color: #fcfcfc;
	background-image: url('../images/textures/grey.gif');
	padding: 20px 0 50px 0;
	min-height: 488px;
}
#footer{
	padding: 15px 0px 70px;
	clear:both;
	color: #fff;
	font-size: 0.8em;
	border-top: 2px solid #666;
}

.need {
	color: #AB58BE;
}
p {
	font-weight: 400;
}
a {
	color: #587498;
	text-decoration: none;
}
h1, h2, h3 {
	color: #587498;
}
a:hover{
	color: #000;
}
.alert_success {
	background: url('../../assets/images/notice_checkmark.png') no-repeat 1% 50% #75bb6e;
	border:1px solid green;
	color: #fff;
	padding:15px 15px 12px 50px;
}
.alert_error {
	background: #ffd7d7;
	padding: 10px;
	border: 1px solid red;
	margin: 15px 0px;
}
ul.alert_error{
	list-style: none;
	margin-bottom: 0px;
}

/* IMPORTANT NOTE 
 * Javascript in the footer looks for a.title and makes the region 
 * a clickable link to that <a>'s href
 */
.title {
	word-wrap:break-word;
}
.proper_title {
	display:block;
}

.page_wrapper {
	margin-top:30px;
}


input[type=text], textarea{
	font-family:'helvetica neue', helvetica, arial;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.nicebigtext{
	font-weight: 300;
	line-height: 32px;
	font-size: 22px;
	color: #666;
}

.chunk {
	min-height:25px;
	padding: 15px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 3px 0px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.199219);
	border-bottom-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 3px 0px;
	margin-bottom: 20px;
}

ul.breadcrumbs{
	list-style: none;
	padding: 0px;
	margin: 0px;
	color: #ccc;
	font-size: 18px;
	margin-bottom: 30px;
	height: 20px;
	display: block;
}
ul.breadcrumbs li{
	float: left;
}
ul.breadcrumbs li a{
	float: left;
}
.breadcrumb_delimiter{
	float: right;
	margin: 0px 7px 5px;
	background-image: url('silver/images/ui-icons_888888_256x240.png');
}

/* form style */

.form_wrapper {
	margin: 20px;
	width: 90%;
}
.big-border {
	border: 4px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 18px;
	padding: 7px 7px 6px;
	font-family:'helvetica neue', helvetica, arial;
	width: 95%;
}

/* header nav style */
#home_find_about {
	margin-left:-10px;
}
ul#nav {
	display:inline;
	float:left;
	list-style:none;
	margin-left: 0;
	margin-top: 9px;
	padding:0;
	height: 50px;
	text-align:center;
	width: 100%;
}
ul#nav li {
	float: left;
	display: inline;
	cursor: pointer;
}
ul#nav li a{
	color: #FFF;
	padding: 20px 20px 10px 10px;
	margin: 0;
	text-decoration:none;
	letter-spacing: .5px;
	font-weight: bold;
	font-size: 17px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  	cursor: pointer;
}
ul#nav li a:hover{
  opacity:0.6;
}
ul#nav li.active{
  	height:64px;
  	background-image: url('../images/header-bg-carat-72c55f.png');
  	background-position: center;
  	background-repeat: no-repeat;

}
ul#nav li.active a{
  	color: #fff;
  	/**background: #7fd374; 
  	border-left: 1px solid #66aa5d;
  	border-right: 1px solid #66aa5d;*/
}
ul#nav li a:active{
	outline: none;
	color: #fff;
}

ul#nav li i {
	margin: 4px 4px 0px 0px;
}

#logo img {
	margin-top: 5px;
}



/* Styles for images */
.thumb_grid {
	margin-bottom: 20px;
}
.thumb_grid a{
	border-bottom: 0px;
}
.thumb_grid a:hover {
	color: white;
}
.thumb_grid a img{
	border: 1px solid #ccc;
	width: 40px;
}
.thumb_grid img:hover, .photo_mod img:hover {
	opacity: .5;
}
a.photo_mod:hover {
	text-decoration:none !important;
}


a.user_image img {
	height: 50px;
	width:50px;
	display: block;
	padding:4px;
	border:solid;
	border-color: #CCCCCC;
	border-width:.5px 1px 1px .5px;
	background-color:white;
    -moz-box-shadow:0 0 3px #D2BDBD;
    -webkit-box-shadow:0 0 3px #D2BDBD;
    box-shadow:0 0 3px #D2BDBD;
}

a.result_sprite {
	height: 51px;
	width:52px;
	display: block;
	border:solid;
	border-color: #CCCCCC;
	border-width:.5px 1px 1px .5px;
	background-color:white;
    -moz-box-shadow:0 0 3px #D2BDBD;
    -webkit-box-shadow:0 0 3px #D2BDBD;
    box-shadow:0 0 3px #D2BDBD;
}

a.result_image {
	height: 50px;
	width:50px;
	display: block;
	padding:4px;
	border:solid;
	border-color: #CCCCCC;
	border-width:.5px 1px 1px .5px;
	background-color:white;
    -moz-box-shadow:0 0 3px #D2BDBD;
    -webkit-box-shadow:0 0 3px #D2BDBD;
    box-shadow:0 0 3px #D2BDBD;
}

#goods_view a.result_image.good_icon {
	width:150px;
	height:150px;
	padding: 2px;
}
.mini a.result_image {
	padding:2px;
	border-width: .25px .5px .5px .25px;
    -moz-box-shadow:0 0 1px #D2BDBD;
    -webkit-box-shadow:0 0 1px #D2BDBD;
    box-shadow:0 0 1px #D2BDBD;
}

span.key{
	margin: 0;
	font-style: italic;
	color: #aaa;
	font-weight: normal;
}
.pull_right {
	float:right;
}
.center {
	text-align: center;
}
.minidata {
	display:block;
	font-size: 12px;
	color:#666666;
}
.usercopy {
	font-size:13px;
	color:#000000;
}
/* END site-wide style */

/* BEGIN header style */

#session {
	padding-bottom:3px;
	margin-top: 7px;
	font-size:14px;
}

#session a{
	color: #FFF;
	font-size: .9em;
	font-weight:bold;
	text-decoration: none;
	min-height:15px;
}

#header_actions ul.dropdown-menu a {
	color:#000;
	font-size:12px;
	font-weight: normal;
}
#header_actions ul.dropdown-menu {
	left:200px;
}
#home_find_about ul.dropdown-menu {
	padding: 5px 8px 5px 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
    -moz-box-shadow:0 0 5px #CCC;
    -webkit-box-shadow:0 0 5px #CCC;
    box-shadow:0 0 5px #CCC;
}

#you_img{
	border: none;
	width: 16px;
	float: left;
	margin: 0px 5px 0px -5px;
	height: 16px;
	background: black;
	-moz-border-radius: 0px;
}

#header_actions a {
	height:15px;
	font-size:12px;
}
#header_actions span.caret {
	height:14px;
}
#header_actions i {
	margin: 0px 4px 2px 0px;
}
#header_actions ul.dropdown-menu {
	float:right;
}

#add_actions {
	list-style:none;
}
#add_actions li {
	margin: 10px 0 0 0;
}
#add_actions a {
	width: 120px;
}
#add_actions span {
	margin-left: 10px;
	font-weight: 300;
	line-height: 27px;
	font-size: 15px;
	color: #666;
}
#login-form li {
	margin-bottom: 5px;
}

#dropfbook {
	margin-top: -10px;
	width: auto;
	height: auto;
}
#dropfbook:hover {
	background-color:transparent;
}
#dropforgot a {
	font-size: 1em;
	margin: 8px 0px 5px 0px;
	color: #6cb6e2 !important;
	font-weight:bold;
}
#dropforgot a:hover {
	background: #FFF;
	opacity: .8;
}
#dropsignup a {
margin: 12px 15px 5px 15px;
	width:auto
}
#dropsignup a:hover {
	background-color:#05C;
}

/* END header style */

/* BEGIN Footer style */

#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 1.3em;
	border-left: 1px solid #444;
}
#footer ul li{
	float: left;
	padding: 0px 10px;
	border-right: 1px solid #444;
}
#footer a{
	color: #9eed7a;
}
#footer a:hover{
	border-bottom: 1px solid #9eed7a;
}

/* END footer style */

/* BEGIN Landing page aka index.php style */
div#landing_page {
	margin-left:-30px;
}

#landing_header {
	margin: 30px 0px 30px 0px;
}
.landing_search {
	margin-top: 10px;
}
.landing_search p {
	text-align: center;
	margin-bottom: 30px;
}
#landing_categories {
	margin: 20px 0 20px -10px;
	text-align:center;
}
.landing_search_input {
	font-size: 22px;
	height: 40px;
	width:400px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
input.landing_search_input {
	padding-top:10px;
}
.landing_search_options {
	margin-left:auto;
	margin-right:auto;
}
.landing_input {
	background-color:#73B06B;
	padding:10px 0 10px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-box-shadow:0 0 5px #CCC;
    -webkit-box-shadow:0 0 5px #CCC;
    box-shadow:0 0 5px #CCC;
}
.landing_input button {
	margin-left: 25px;
}
#landing_categories a:hover {
	color:#FFF;
	text-decoration:none;
	opacity: .5;
}
#landing_categories .thumb_grid a img {
	width:50px;
}

p.landing_text {
	font-weight:bold;
	margin-left:-55px;
	color: #6CB6E2;
}

/* END landing page style */

/* BEGIN Sidebar style */

ul.sidebar_menu{
	margin: 0;
	list-style:none;
	display:block;
	float:left;
	padding: 0;
}
ul.sidebar_menu li{
	margin-bottom: 12px;
}
ul.sidebar_menu li a, ul.sidebar_menu li span{
	color: #545454;
	font-weight: normal;
	border-bottom: none;
	font-size: 14px;
}
ul.sidebar_menu li a:hover{
	color: #999;
}
ul.sidebar_menu li.active a{
	color: #fff;
	background: #65b15b;
	padding: 3px 7px;
	text-decoration: none;
	margin-left: -6px;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
ul.sidebar_menu li ul{
	display: none;
}
ul.sidebar_menu li.active ul{
	display: block;
	list-style: none;
	padding: 0;
	margin: 5px 0 0;
}
ul.sidebar_menu li.active ul li{
	padding: 5px;
	margin: 0;
}
ul.sidebar_menu li.active ul li a{
	color: #000;
	background: none;
	font-weight: normal;
	margin: 0;
}
ul.sidebar_menu li.active ul li.active a{
	font-weight: bold;
}



/* END sidebar style */


/* BEGIN Home page style */

#home_page {
	margin-top:30px;
}
#home_page .home_list div.span2 ul {
	margin-left: 0px;
}

#home_page h3 {
	font-weight: 300;
	line-height: 32px;
	font-size: 22px;
	color: #666;
}
#home_page div.home_list.chunk {
	padding: 15px;
}
#home_page div.home_list h3{
	padding: 5px;
}
#home_page{
	padding: 0px;
}
#home_activity {
	padding-left: 10px;
}
#blog_feed li {
	margin: 10px 0px 5px 0px;
}
#blog_feed span.entry_title {
	font-weight:bold;
	font-size:14px;
}
#featured_image {
	margin: 0px 10px 1px 0px;
}
.home_list {
	list-style: none;
	margin: 0px;
}

/* END home page style */


/* BEGIN profile page style */


.profile_header {
	margin: 25px 0px 0px 0px;
}
#profile_masthead .metadata {
	margin-left: 70px;
	display:block;
}
h1#profile_name{
	font-weight: bold;
	letter-spacing: -.7px;
	font-size: 30px;
	margin: 0px 0px 0px 70px;
}
.profile_actions {
	margin-top:10px;
}
.profile_action {
	float:left;
}

p.chunk_empty {
	margin-top: 8px;
}

/* END profile style */

/* BEGIN goods view style */

#goods_view p {
	margin: 10px 0px 10px 0px;
}
#goods_view p#tags { 
	margin: 20px 0px 20px 0px;
}
#goods_view .posted_by {
	text-align: center;
}
#goods_view .posted_by h3 {
	margin-bottom:8px;
}
#goods_view .posted_by a.user_image img {
	display:inline;
}

a.good_image {
	margin: 10px;
	vertical-align:middle;
	max-height:150px;
	display:block;
}
a.good_icon {
	display:block;
	position: relative !important;
}
.shareSet {
	width:100%;
	padding: 10px 0px 10px 0px;
}
.sidebar {
	display: block;
	float: right;
	width: 280px;
	margin-bottom: 25px;
	clear: right;
}
.sidebar .top{
	height: 20px;
	padding: 10px 15px 7px;
	background: url('../images/sidebar_module_top.png') no-repeat;
}


/* BEGIN Find style */
.brick_wall {
	margin:0 auto;
	width:auto;
	z-index: 0;
}

.brick { 
	max-width: 130px;
	min-width:130px;
	margin:5px;
	float:left;
	min-height:25px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 3px 0px;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.199219);
	border-bottom-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 3px 0px;
}


.brick:hover {
	-webkit-box-shadow: 0px 1px 4px 2px #587498;
	box-shadow: 0px 1px 4px 2px #587498;
	border: 1px solid #587498;
}
.brick_wall a.title {
	font-weight: 500;
	display: block;
	font-size: 18px;
	margin:5px 0px 10px 0px;
	text-align:center;
	word-wrap:break-word;

}
.brick_wall a.author {
	color: #587498;
	font-weight:400;
	display:block;
	font-size: 10px;
	margin: 5px 0px 5px 0px;
	text-align:center;
	word-wrap:break-word;
}
.brick_wall a.result_image, .brick_wall a.result_sprite {
	margin:auto;
}

.brick_wall span.metadata  {
	color: #666666;
	font-size:10px;
	line-height:11px;
}
.brick_bottom {
	padding:5%;
	background-color:#F2F0F0;
	width: 90%;
	max-height: 100px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.brick_bottom span.metadata {
	display:block;
	color:#8C7E7E;
}
.brick_top {
	padding:5%;
	width:90%;
	text-align:center;
}

 
#find_page {
	margin-top: 30px;
}
#find_header {
	margin: 20px 0px 30px 20px;
}
.find_header {
	margin-left: 0px;
}
.find_header h1 {
	display:inline;
}
.find_header p {
	display:inline;
	margin-left: 20px;
}

/* find sidebar style */

#find_sidebar {
	margin-right: 15px;
	padding-right: 15px;
}
#find_sidebar .btn-group button {
	min-width:100px;
	display:block;
}
.find_type_buttons {
	margin-bottom: 20px;
	min-width: 50px;
}

ul#categories {
	list-style:none;
	margin:0px 0px 0px 0px;
}
 ul#categories li {
	 margin-bottom: 5px;
 }

/* find nav style */

#find_nav {
	padding-left: 0px;
	padding-right:0px;
}

#find_nav select {
	 margin:0;
} 
.find_form {
	display:inline;
}
.find_form span {
	display:inline;
}
span.nav_form{
	margin-top:5px;
}
.nav_form div {
	display:inline-block;
}
.find_form div.input-append {
	display:inline;
}
#order_by_label {
	margin-right: 10px;
}

/* END find style */

/* new masonry find style */
#masonry_nav {
	margin: 20px 0px 20px 0px;
	border-radius:0px;
	border-bottom: 2px solid #CCCCCC;
	z-index:10;
	padding:5px 0px 0px 15px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 4px 3px 0px;
	box-shadow: rgba(0, 0, 0, 0.199219) 0px 4px 3px 0px;
	height:50px;
	width:960px;
}
#masonry_nav .btn-group {
	display:inline-block;
	padding: 4px 0px 0px 5px;
}
.search_elements select {
	font-size:15px;
	margin-top: 5px;
}
.search_elements {
	padding: 4px 0px 0px 0px;
}

.masonry_input {
	height:25px;
   border: 2px solid #CCCCCC;
   font-size:16px;
   color:#555;
}   
.nav_wrapper {
	margin: 20px 0px 20px 0px;
}
.affix {
	position:fixed;
	width:960px;
	top:-20px;
	left:135px;
	z-index:10;
}

li.subcategory {
	font-size:12px;
	padding:2px;
}
li.subcategory:hover {
	color:#587498;
	background-color:#9BBBE4;
	cursor:pointer;
}

/* BEGIN simple_find style */

#simple_categories {
	border-top: 1px solid #CCC;
	margin-left: 220px;
	padding:10px;
}
#simple_find h1 {
	text-align:center;
	margin: 10px 0px 30px 0px;
}
.category_box .result_sprite {
	display:inline-block;
}
input.simple_input {
	font-size: 18px;
	height: 30px;
	width:300px;
	padding-top:5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
div.simple_find {
	padding:5px 0 5px 5px;
}
#simple_find label {
	font-size: 16px;
	color: #666;
	font-weight: 300;
	line-height:18px;
}

/* generated here: http://www.preloaders.net/en/popular */
.results_loading img {
	margin: 50px auto;
	display: block;
}
/* END simple_find style */

/* BEGIN about style */

.about_press a img{
	border: none;
	width: 280px;
}
.about h1{
	margin-top: 9px;
}

/* END about style */

/* BEGIN goods results list style */


/* css for results list */
ul.results_list{
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #ddd;
	clear: left;
}


ul.results_list li{
	padding: 10px;
	color: #666;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	display: block;
}
ul.results_list li:hover{
	background: #fcfcfc;
	cursor: pointer;
}
ul.results_list li a.title {
	color: #587498;
	font-weight: 500;
	display: block;
	border-bottom: none;
	font-size: 18px;
	margin: 0px;
}

ul.results_list li a.title:hover{
	color: #6CB6E2;
}

ul.results_list li .metadata{
	font-size: .9em;
	color: #666;
	display: block;
} 

ul.results_list li .metadata em{
	font-family: georgia, times, serif;
	font-style: italic;
}

ul.results_list li .result_date {
	font-size: .7em;
	text-align: right;
}

/*
 * Medium version
 */
ul.results_list.medium li a.title {
	font-size: 16px;
}


/*
* Minified version
*/
ul.results_list.mini li{
	padding: 7px 0px;
}
ul.results_list.mini li a.title{
	width:100%;
	font-size: 1em;
	font-weight: 500;
	display:inline;
}
ul.results_list.mini li a.proper_title {
	display:block;
}
ul.results_list.mini li {
	display:block;
	font-size:1em;
	margin-left:5px;
	margin-top:3px;
}

ul.results_list.mini li a.result_image {
	height: 25px;
	width: 25px;
	margin: 3px 15px 0px 0px;
	padding:1px;
}
ul.results_list.mini li a.result_image img{
	height: 25px;
	width: 25px;
	margin: 0;
}
ul.results_list.mini li .metadata { 
	font-size: 1em;
	display:inline;
	color:#666;
	margin-left: 20px;
}
ul.results_list.mini .minidata { 
	font-size: 11px;
	line-height: 12px;
	color:#666666;
}
/* end of minified version */


/* BEGIN pager style */

ul.simplePagerNav{
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 10px;
}
ul.simplePagerNav li{
	float: left;
	margin-right: 2px;
}
ul.simplePagerNav li a{
	border: 1px solid #6cb6e2;
	color: #6cb6e2;
	padding: 5px 11px;
	font-size: 14px;
}
ul.simplePagerNav li.currentPage a{
	background: #6cb6e2;
	cursor: default;
	color: #fff;
}

/* END pager style */

/* BEGIN Reviews and Thanks style */

.spaced {
	margin: 5px 0px 0px 0px;
}

#profile_thank_form {
	width:90%;
}
.entry_body {
	padding: 13px;
}

.review_header {
	padding:5px;
	max-height: 100px;
	margin-bottom: 10px;
}
.review_header .review_summary {
	font-size: 14px;
	font-weight: 500;

}
.review_header .title {
	color: #587498;
	font-weight: 500;
	border-bottom: none;
	font-size: 14px;
}
.review_body {
	background-color: #FFFFFF
	border-radius: 3px;
	padding: 5px;
}
li.event_row {
	border-bottom: 2px solid #eee;
	margin-top: 10px;
}

	

/* END reviews and thanks style */

/* You Dashboard style
 * includes gifts, needs, watches, inbox and account
 */

.you_dashboard {
	margin-bottom: 20px;
}
.you_dashboard p {
	margin: 0px 0px 0px 0px;
}
.inbox_nav li a {
	font-weight:bold;
	font-size:14px;
}

ul.inbox {
	list-style: none;
	padding: 0;
	margin-left: 0px;
}
ul.inbox li {
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #ddd;
}
ul.inbox li.unread {
	background: #F7FCFF;
}
ul.inbox li:hover {
	background: #FFF0D6;
	cursor: pointer;
}
ul.inbox li img.status_icon, .inbox_summary img.status_icon {
	margin: 20px 20px 0 12px;
	width: 22px;
	height: 23px;
}

.inbox_summary p {
	margin-top: 10px;
}
.inbox_summary .summary {
	font-size:16px;
	font-weight:400;
}

.updated{
	font-size: 12px;
	color: #ccc;
	margin-top: 5px;
	float:right;
}
.interaction_header {
	margin-bottom: 20px;
	padding: 15px;
	border-bottom: 1px solid #ccc;
}
ul.interaction {
	list-style:none;
}
ul.interaction li {
	margin-bottom: 15px;
}
.message_form {
	width: 80%;
}	
li.watch {
	margin:10px;
}
a.keyword  {
	padding: 20px;
	font-size: 14px;
	font-weight:bold;
}
ul#you_sidebar ul#account_menu li a{
	color: black;
}
ul#you_sidebar ul#account_menu li.active a {
	background:#65B15B !important;
	color: #FFF;
}

.trans_helper { 
	padding: 5px;
}
#trans_nav {
	margin-bottom: 10px;
}
.nav_text span {
	display:none;
}

li.review{
	border-bottom: 2px solid #EEE;
}

.good_buttons {
	margin-top: 10px;
	width:40%;
}
#add_good {
	margin-bottom: 20px;
}

.spreadWord {
	margin-top: 20px;
}

.spreadWord p {
	display:block;
	margin:50px 0px 0px 0px;
}
/* Account style */

#locations_list ul{
	list-style: none;
	border-top: 1px solid #ccc;
	margin:0;
}
ul.list_menu li{
	padding: 12px 10px;
	border-bottom: 1px solid #ccc;
}
ul.list_menu li:hover{
	background: #fcfcfc;
}
ul#linked_accounts li{
	background: url('../images/status_silver.png') no-repeat 0% 50%;
	padding-left: 30px;
	height: 28px;
}
ul#linked_accounts li.active{
	background-image: url('../images/status_green.png');
}
ul#linked_accounts li span {
	display: inline-block;
	margin-top: 5px;
}

/*
notifyBar 
*/

.jquery-notify-bar {
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:32768;
  background-color:#efefef;
  font-size:18px;
  color:#000;
  text-align:center;
  font-family: Arial, Verdana, sans-serif;
  padding:25px 0px;
  border-bottom:1px solid #bbb;
}
.jquery-notify-bar.error {
  color:#f00;
  background-color:#fdd;
}
.jquery-notify-bar.success {
  color:#060;
  background-color:#BBFFB6;
}
.notify-bar-close {
  position:absolute;
  left:95%;
  font-size:11px;
}

span.error{
	margin-top: 8px;
	color: red;
	display: block;
}

/* welcome page style */

#welcome_header{
	display:block;
	width:100%;
	margin: 5px 5px 5px 5px;
}
.welcome_block{
	display:block;
	width:30%;
	font-weight:300;
	font-size:16px;
	text-align:center;
	float:left;
	margin: 5px 10px 5px 10px;
}
#welcome_three{
	display:block;
	width:100%;
}

#need_pic{
	display:block;
	margin: 23px 12px 0px 12px;
}

#hyperlocal
{
	width:100%;
	display:block;
	margin-top: 20px;
	float:left;
}
