/*
 COOL COLORS
 #9eed7a
 */

body { 
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	background: black;
}
.wrapper{
	width: 960px;
	margin: 0 auto;
	padding: 0;
	display:block !important;
}
#header {
	padding: 6px 0 4px 0;
	background: #65B15B url('../images/header-bg.png') repeat-x;
}
#main {
	background:white;
	padding: 20px 0 50px 0;
	min-height: 488px;
}
#footer{
	padding: 15px 0px 70px;
	clear:both;
	color: #fff;
	font-size: 0.8em;
}
p{
	font-weight: 300;
}
a {
	color: #6cb6e2;
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	color: #000;
}
input[type=text], textarea{
	font-family:'helvetica neue', helvetica, arial;
}
#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 1.3em;
	border-left: 1px solid #444;
}
#footer ul li{
	float: left;
	padding: 0px 10px;
	border-right: 1px solid #444;
}
#footer a{
	color: #9eed7a;
}
#footer a:hover{
	border-bottom: 1px solid #9eed7a;
}

.content{
	padding: 20px;
	min-height: 550px;
	padding-bottom: 50px;
}
.hidden{
	display: none;
}
.css_right{
	float: right;
}
.left, .css_left{
	float: left;
}
.clear{
	clear: both;
}
.noborder{
	border: none !important;
}
.bold{
	font-weight: bold;
}
a#logo {
	margin: 3px 0px;
	float: left;
	border-bottom: 0px;
}
a#logo img{
	border: none;
  width: 110px;
}
#session {
	float:right;
	margin-top: -4px;
  padding-bottom:3px;
}
#session p {
	margin: 0;
	color: #a4e2a2;
	float: right;
	clear:right;
	text-align: left;
	width: 100px;
}
#session a{
	color: #fff;
	font-size: .8em;
	text-decoration: none;
}
#session a:hover{
	border-bottom: 1px solid #fff;
}
#session img{
	width: 35px;
	border: 3px solid white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
	margin-top: -3px;
}
#session a#session_profile {
	color: #a4e2a2;
	text-decoration: none;
}
ul#nav {
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius: 4px;
	display:block;
	float:left;
	height:35px;
	list-style:none outside none;
	margin:-6px 0;
	padding:0 0 0 50px;
}
ul#nav li {
	float: left;
	display: block;
}
ul#nav li a{
	color: #eee;
	padding: 5px 13px 4px;
	margin: 8px 5px 0px 5px;
	display: block;
	text-decoration:none;
	letter-spacing: .5px;
	border-bottom: 0px;
	font-weight: normal;
	font-size: 15px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
ul#nav li a:hover{
  opacity:0.8;
}

ul#nav li a.active{
  	color: #fff;
  	background: #7fd374;
  	border: 1px solid #66aa5d;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
}
ul#nav li a:active{
	outline: none;
	color: #fff;
}

/* Sidebar Menu */
ul.sidebar_menu, ul.sidebar_menu select, ul.sidebar_menu input[type=text]{
	width: 168px;
}
ul.sidebar_menu {
	display:block;
	float:left;
	list-style:none;
	padding: 0;
	margin: 0;
}
ul.sidebar_menu li{
	margin-bottom: 12px;
}
ul.sidebar_menu li a, ul.sidebar_menu li span{
	color: #545454;
	font-weight: normal;
	border-bottom: none;
	font-size: 14px;
}
ul.sidebar_menu li a:hover{
	color: #999;
}
ul.sidebar_menu li.active a{
	color: #fff;
	background: #65b15b;
	padding: 3px 7px;
	text-decoration: none;
	margin-left: -6px;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
ul.sidebar_menu li ul{
	display: none;
}
ul.sidebar_menu li.active ul{
	display: block;
	list-style: none;
	padding: 0;
	margin: 5px 0 0;
}
ul.sidebar_menu li.active ul li{
	padding: 5px;
	margin: 0;
}
ul.sidebar_menu li.active ul li a{
	color: #000;
	background: none;
	font-weight: normal;
	margin: 0;
}
ul.sidebar_menu li.active ul li.active a{
	font-weight: bold;
}

ul.sidebar_menu.filters {
	margin: 0;
}

ul.sidebar_menu.filters li span.filter_title {
	font-weight: bold;
	color: black;
	font-size: 16px;
	display: block;
	margin: 10px 0;
}

ul.sidebar_menu.filters li #location:hover {
	cursor: pointer;
	text-decoration: underline;
}

ul.sidebar_menu.filters li #location a{
	color: #6cb6e2;
}
ul.sidebar_menu.filters li #editLocation input{
	width: 175px;
}
#editLocation input {
  width:175px;
  margin: 0px 0px 3px 0px;
 }

ul.sidebar_menu.filters li ul{
	display: block;
	padding: 0;
	margin: 10px 0;
}
ul.sidebar_menu.filters li ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}
#inbox_new a {
  color:#6CB6E2;
  font-weight:bold;

}

.top_filters{
	margin: 0 0 20px -5px;
}

.top_filters #order_by_label, .top_filters select{
	float: left;
}
.top_filters #order_by_label {
	color: #555;
	margin-right: 8px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*
*	jQ Modal
*/

.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background-color: #fff;
    color: #333;
    border: 10px solid #ccc;
    padding: 12px 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.jqmOverlay { background-color: #000; opacity: .8 !important;}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (< select > form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/*
notifyBar 
*/

.jquery-notify-bar {
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:32768;
  background-color:#efefef;
  font-size:18px;
  color:#000;
  text-align:center;
  font-family: Arial, Verdana, sans-serif;
  padding:25px 0px;
  border-bottom:1px solid #bbb;
}
.jquery-notify-bar.error {
  color:#f00;
  background-color:#fdd;
}
.jquery-notify-bar.success {
  color:#060;
  background-color:#BBFFB6;
}
.notify-bar-close {
  position:absolute;
  left:95%;
  font-size:11px;
}

/*
* TipTip
*/
/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 14px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}
/*
* AddThis Toolbox
*/
.addthis_toolbox .two_column 
{
}

.addthis_toolbox .two_column a 
{
    padding: 4px 0 4px 28px;
    position: relative;
    width: 58px;
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    color: #6CB6E2;
}

.addthis_toolbox .two_column a:hover
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #fafafa;
    text-decoration: none;
}

.addthis_toolbox .two_column span
{
    position: absolute;
    left: 4px;
    top: 4px;
}

.addthis_toolbox .two_column  .top
{
    padding: 0 0 10px 0;
    border-bottom: solid 1px #eee;
    margin-bottom: 10px;
    margin: 0 20px 10px 20px;
    background: none;
    height: 1px;
}

.addthis_toolbox .two_column  .more
{
    border-top: solid 1px #eee;
    padding: 10px 0 0 0;
    margin: 10px 20px 0 20px;
    text-align: center;
}

.addthis_toolbox .two_column  .more a
{
    padding: 4px 0;
    width: auto;
}

.addthis_toolbox .two_column .more span
{
    display: none;
}

.addthis_toolbox .two_column .column1
{
    width: 90px;
    float: left;
}

.addthis_toolbox .two_column .column2
{
    width: 90px;
    float: left;
}

.addthis_toolbox .two_column .clear
{
    clear: both;
    padding: 0;
    display: block;
    height: 0;
    width: 0;
}
.disabled_link{
	cursor: default;
}
.alert_success {
	background: url('../../assets/images/notice_checkmark.png') no-repeat 1% 50% #75bb6e;
	border:1px solid green;
	color: #fff;
	padding:15px 15px 12px 50px;
}
.alert_error {
	background: #ffd7d7;
	padding: 10px;
	border: 1px solid red;
	margin: 15px 0px;
}
ul.alert_error{
	list-style: none;
	margin-bottom: 0px;
}
.delete { 
	background: #333;
	color: #fff;
}
img.bordered{
	padding: 3px;
	border: 1px solid #ccc;
}
img.thumb{
	max-height: 60px;
	max-width: 60px;
}
img.mini_thumb{
	max-height: 40px;
	max-width: 40px;
}
img.micro-thumb{
	max-height: 22px;
	max-width: 22px;
}
img.large-thumb{
	max-height: 80px;
	max-width: 80px;
}

.submit{
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	border:1px solid #CCCCCC;
	font-size:14px;
	height:40px;
}
a.go_back{
	clear: both;
	font-size: 16px;
	color: #98e87b;
	text-decoration: none;
	padding: 5px;
	display: block;
}

a.tag{
	height: 1.6em;
	margin-right: 6px;
	margin-bottom: 5px;
	background: #333;
	color: #fff;
	display: inline-block;
	font-weight: normal;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: 13px;
	border: none;
	padding: .2em .9em 0em;
}
a.tag:hover{
	background: #666;
}
.search label {
	color: #aaa;
}
.search input[type=text]{
	font-family:'helvetica neue',helvetica,arial;
	font-size:1.3em;
	padding:4px 0;
	width:285px;
	margin-right: 8px;
}
textarea{
	width: 100%;
}

table { 
	border-collapse: collapse;
}
table.form{
	margin-bottom: 30px;
	border-top: 1px solid #ddd;
}
table.form tr.odd td {
	background: #f5f5f5;
}
table.form tr.buttons td{
	padding-right: 5px;
}
table.form td{
	padding: 20px;
	border-bottom: 1px solid #eee;
}
table.form td.label {
	padding-top:25px;
	vertical-align:top;
	font-size: 14px;
	color: #333;
	background-color: #FFF;
}
table.form label{
	color: #333;
	font-size: 14px;
}
table.form td.meta{
	font-size: 14px;
	color: #333;
	vertical-align: top;
	text-align: left;
	padding-top: 23px;
	width: 120px;
}
table.form td.field {
	width: 400px;
	padding: 20px 0px 20px 20px;
}

table.form td.field input[type=text],input[type=text].big-border{
	letter-spacing: -.5px;
}
table.form td.field input[type=text].error, table.form textarea.error, table.form td.field input[type=password].error {
	border: 4px solid red;
}
table.form label.error{
	margin-top: 8px;
	color: red;
	display: block;
}
table.form td.field p.note{
	color: #aaa;
	font-size: 12px;
	font-style: italic;
}
table.sortable { 
	width: 100%;
	border-collapse: collapse;
}
table th{
	text-align: left;
	padding: 5px 10px;
}
table th:hover{
	text-decoration: underline;
	cursor: pointer;
}
table#goods tbody tr td{
	padding: 10px;
}
table.list { 
	border-top: 1px solid #ccc;
}
table.list tr:hover{
	background: #fafafa;
}
table.list td {
	vertical-align: top;
	padding: 15px;
	border-bottom: 1px solid #ccc;
}
table.list h2, table.list p { 
	margin: 0px;
}
form.big input[type=text] {
	font-size: 1.5em; 
	padding: 9px 5px 5px;
	width: 100%;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

/* for events in activity feed */
ul.events_list {
  list-style:none;
  margin:0;
  padding: 0;
  border-top: 1px solid #ddd;
  clear:left;
}
ul.events_list li {
  padding: 10px;
  color: #000;
  border-bottom: 1px solid #eee;
  text-decoration:none;
  display:block;
}

ul.events_list li .metadata{
	font-size: .8em;
	color: #666;
	display: block;
} 
ul.events_list li .metadata a{
	color: #666;
	font-weight: normal;
}

ul.events_list li a.result_image {
	background-image: url('../images/good_frame.png');
	float: left;
	height: 80px;
	width: 80px;
	margin-right: 15px;
}
ul.events_list li a.result_image img{
	max-height: 66px;
	margin: 6px auto auto 6px;
  min-height:66px;
}
ul.events_list li .result_meta{
	float: left;
}



/* css for results list */
ul.results_list{
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #ddd;
	clear: left;
}
.right_content ul.results_list, ul.transactions, .right_content ul.goods_list{
	margin-left: -30px;
}
.right_content ul.transactions.goods_list li {
	padding-left: 30px;
}
ul.results_list li{
	padding: 10px;
	color: #000;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	display: block;
}
.right_content ul.results_list li {
	padding-left: 25px;
}
.right_content ul.results_list.mini li {
	padding-left: 30px;
}
ul.results_list li:hover{
	background: #fcfcfc;
	cursor: pointer;
}
ul.results_list li a.title{
	font-weight: 500;
	display: block;
	border-bottom: none;
	font-size: 18px;
	margin-top: 2px;
}
ul.results_list li a.title:hover{
	color: #6CB6E2;
}

ul.results_list li .metadata{
	font-size: .8em;
	color: #666;
	display: block;
} 
ul.results_list li .metadata a{
	color: #666;
	font-weight: normal;
}

ul.results_list li .metadata em{
	font-family: georgia, times, serif;
	font-style: italic;
}

ul.results_list li a.result_image {
	background-image: url('../images/good_frame.png');
	float: left;
	height: 80px;
	width: 80px;
	margin-right: 15px;
}
ul.results_list li a.result_image img{
	max-height: 66px;
	margin: 6px auto auto 6px;
}
ul.results_list li .result_meta{
	float: left;
}

/*
* Minified version
*/
ul.results_list.mini li{
	padding: 7px 10px;
}
ul.results_list.mini li a.title{
	width: auto;
	float: left;
}
ul.results_list.mini li .metadata{
	display: none;
} 
ul.results_list.mini li .author.metadata{
	display:block;
	float:left;
	font-size:1em;
	margin-left:10px;
	margin-top:3px;
}
ul.results_list.mini li .author.metadata em, ul.results_list.mini li .author.metadata a{
	color: #ccc;
}

ul.results_list.mini li a.result_image {
	background-image: none;
	height: 25px;
	width: 25px;
	margin: 0 15px 0 0;
}
ul.results_list.mini li a.result_image img{
	max-height: 25px;
	max-width: 25px;
	margin: 0;
}
/* eof minified version */

/** grid version */
ul.results_list.grid{
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: none;
	clear: left;
}
ul.results_list.grid li{
	padding: 0px;
	float: left;
	color: #000;
	border-bottom: none;
	text-decoration: none;
	display: block;
	margin: 0 7px 7px 0;
}
ul.results_list.grid li:hover{
	background: #fff;
}
ul.results_list.grid li a.title{
	display: none;
}

ul.results_list.grid li .metadata{
	display: none;
} 

ul.results_list.grid li a.result_image {
	background-image: url('../images/good_frame.png');
	float: left;
	height: 80px;
	width: 80px;
	margin-right: 0px;
}
ul.results_list.grid li a.result_image img{
	max-height: 66px;
	margin: 6px auto auto 6px;
}

/* generated here: http://www.preloaders.net/en/popular */
.results_loading img {
	margin: 50px auto;
	display: block;
}
/* sidebar exception*/
.sidebar ul.results_list li .result_meta{
	width: 165px;
}
/*eof sidebar exceptions*/

ul.results_list#linked_accounts{
	margin-left: 0;
}
#give_index_form{
	/*background: #76b15b;*/
	background: #5bb15b;
	padding: 36px 50px;
	display: block;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
#give_index_form .label{
	color: #C2FCA4;
	font-size: 1.2em;
}
#hidden_fields{
	display: none;
}

/* 
* The Gift & Needs Pages 
*/

/* Some shared properties */
#good_image, #good_content .row_title{
	width: 60px; /* Don't forget to set the height of the image below! */
	margin-right: 30px;
	display: block;
	float: left;
}

/* Header*/
#good_header{
	margin: 25px 0 15px;
	height: 85px;
}
#good_header h1{
	font-size:30px;
	font-weight: bold;
	letter-spacing:-0.7px;
	margin: 7px 0 0;
}
#good_header p{
	font-size: 14px;
	color: #777;
	margin: 4px 0px 0px;
}
#good_image{
	border: 2px solid #ccc;
	background: white;
	margin-top: 11px;
	width: 50px;
	/* Some shared properties above! */
}
#good_image img.thumb{
	width: 50px;
} 
#good_header_info {
	float: left;
	margin-left: 15px;
}

a.user_image {
	background-image: url('../images/good_frame.png');
	height: 80px;
	width: 80px;
	display: block;
}
a.user_image img{
	max-height: 66px;
	margin: 6px auto auto 6px;
}

a.user_image.medium, ul.results_list.users a.user_image.medium {
	background-image: url('../images/good_frame_60px.png');
	height: 60px;
	width: 60px;
}
ul.results_list.users.mini a.user_image.medium{
	background-image: none;
	max-height: 25px;
	max-width: 25px;
}
a.user_image.medium img, ul.results_list.users a.user_image.medium img{
	max-height: 48px;
	margin: 5px auto auto 5px;
}


/* Edit Photos */
#photo_edit_left, #photo_edit_right{
	width: 400px;
	float: left;
}
#photo_edit_left{
	margin-right:40px;
}
#photo_edit_left img {
	max-width: 400px;
}
#go_back .ui-button-text{
	padding:2px 12px 1px 30px;
	font-weight: normal;
}
#dash_header{
	margin: 20px 0 0;
	height: 60px;
}
#dash_header a.user_image{
	margin: auto 20px 0 -5px;
}
#dash_header img.heading{
	margin-top: 12px;
}
textarea#bio{
	height: 250px;
}
#upload_photo{
	clear: both;
	display: none;
	margin: 0px 0px;
	background: #b5f5ad;
	padding: 20px;
}
#upload_photo h3{
	margin-top: 0px;
}
#your_locations{
	background: #fff;
	border: 1px solid #aaa;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}
#your_locations ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
#your_locations ul li a{
	text-decoration: none;
	color: #333;
	display: block;
	padding: 6px 8px 5px;
	margin-bottom: 1px;
	font-weight: normal;
}
#your_locations ul li a .location_details{
	color: #aaa; 
	font-size: .8em;
	font-weight: normal;
}
#your_locations ul li a:hover, #your_locations ul li a.active{
	background: #EEE;
}
#profile_left{
	width: 667px;
	display: block;
	float: left;
}
#profile_right{
	width: 29%;
	float: right;
}
#profile_left_content{
	padding: 0px 15px;
}
#profile_left_content h3{
	margin-top: 0px;
}
h1#profile_name{
	font-weight: bold;
	letter-spacing: -.7px;
	font-size: 30px;
	margin: 0;
}
h3.grid_title{
	margin-bottom: 6px;
}
.profile_pane .view_all{
	font-weight: normal;
	font-size: 12px;
	float: right;
}
ul.gray_toolbar{
	height: 40px;
	background: #fafafa;
	list-style: none;
	padding: 0 0 0 13px;
	margin: 0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #ccc;
	background: url('../images/toolbar_gradient.png') repeat-x 50% 50%;
	margin-bottom: 25px;
}
ul.gray_toolbar li{
	float: left;
}
ul.gray_toolbar li a{
	display: block;
	padding: 0.25em 0.8em;
	color: #333;
	text-decoration: none;
	margin: 8px 14px 0px 0px;
	font-size: 15px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border: none;
}
ul.gray_toolbar li a:hover{
	background: #ddd;
	border: none;
}
ul.gray_toolbar li a.active{
	background: #222;
	color: #fff;
}
ul#profile_toolbar_right li{
	font-weight: bold;
	padding: .7em .3em;
}
.profile_item{
	padding: 0;
	line-height: 1.3em;
	color: #222;
	margin-bottom: 25px;
}
.profile_item h3{
	font-size: 13px;
	font-weight: normal;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.profile_item p{
	margin: 0px auto 10px;
	font-size: 13px;
}
a#nonprofit_link{
	background:none repeat scroll 0 0 #66CC33;
	color:white;
	padding:4px 8px 2px;
	text-decoration:none;
}
#login{
	margin: 0 auto;
	display: block;
}
#login img#login_heading{
	margin: 0;
	display: block;
}
#login table{
	margin: 15px 0px 30px;
	width: 100%;
}
#login table h3{
	margin-bottom: 0;
}
#login input[type=submit]{
	float: right;
}
#login td.field input[type=text], table#login td.field input[type=password], #register td.field input[type=text] {
	font-weight: bold;
}
#register td.field input[type=text], #register td.field input[type=password] {
	width: 420px;
}
#recaptcha_table td{
	padding: 0px;
}
p.nicebigtext, ul.nicebigtext{
	font-weight: 300;
	line-height: 32px;
	font-size: 22px;
	color: #666;
}
.two_panels{
	padding-top: 25px;
}
.two_panels.find{
	padding-top: 0;
}
.about h1{
	margin-top: 9px;
}
#about_index p.nicebigtext{
	width: 700px;
	float: left;
	margin-top: 8px;
}

li p.nicebigtext{
	display:inline;
}
	
/* #about_menu styled via .sidebar_menu */
.right_content{
	border-left: 1px solid #ddd;
	float: right;
	display: block;
	margin-top: 0px;
	padding: 0px 0px 0px 30px;
	width: 710px;
	min-height: 300px;
}
.left_content{
	float:left;
	width:160px;
	padding-left:20px;
}

#register label.error, #login label.error{
	color: #FF6A6A;
}

input#terms_box {
  font-size:18px;
  width:20px;
  height:20px;
  padding: 20px 20px 20px 20px;
}
p#service{
  font-size:18px;
}

p .green{
	color: #65b15b;
	font-weight: bold;
}
ul#locations_list{
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: 1px solid #ccc;
	width: 450px;
	float: left;
}
ul#locations_list li{
	display: block;
}
ul.list_menu li{
	padding: 12px 10px;
	border-bottom: 1px solid #ccc;
}
ul.list_menu li:hover{
	background: #fcfcfc;
}

ul.list_menu li .list_content{
	/*width: 540px;*/
	float: left;
}
ul.list_menu li .list_controls{
	float: right;
}
ul.list_menu li .list_controls .options{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity: 1;
}
ul.list_menu li:hover .list_controls .options{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity: 1;
}
ul.list_menu li #address{
	font-weight: bold;
}
ul.list_menu li #city_state{
	color: #999;
	display: block;
	font-size: .8em;
}

img#locations_map{
	float: right;
}
.ui-state-default a{
	border-bottom: none;
}
.thumb_grid a{
	border-bottom: 0px;
}
.thumb_grid a img{
	border: 1px solid #ccc;
	width: 40px;
}
.module{
	width: 610px;
	float: left;
}
ul#you_menu{
	list-style: none;
	margin: 10px 0px 0px 0px;
	padding: 0;
}
ul#you_menu li{
	float: left;
}
ul#you_menu a{
  	background: #7fd374;
  	border: .5px solid #66aa5d;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
	padding: 0.3em 0.5em 0.2em;
	font-size: 15px;
	display: block;
	border-bottom: none;
}
ul#you_menu a#you{
	width: 80px;
	height: 20px;
}
ul#you_menu a#signup:hover, ul#you_menu a#login:hover {
	background: white;
	color: #68cc68;
}
ul#you_menu a#donate:hover{
	background: white;
	color: #68cc68;
}
ul#you_menu a#login{
	background: none;
}

ul#you_menu a:hover{
	border-bottom: none;
}
ul#you_menu li:hover a#you{
	background: white;
	color: #68cc68;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
ul#you_menu li ul{
	display: none;
	position: absolute;
	top: 42px;
	left: auto;
}
ul#you_menu li:hover ul, ul#you_menu:hover li ul{
	display: block;
	background: white;
	list-style: none;
	padding: 5px 0px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	width: 120px;
	margin-left: -26px;
	z-index: 1000;
	-moz-box-shadow: 0 3px 7px #CCCCCC;
}
ul#you_menu li:hover ul li{
	float: none;
}
ul#you_menu li:hover ul li a{
	border-radius: 0px;
}
ul#you_menu li:hover ul {
  margin: -8px 0px 0px 0px;
}

ul#you_menu li:hover ul li a{
	color: #000;
	border: none;
	background: none;
	padding: 10px;
	display: block;
	font-size: 13px;
	font-family: arial;
	border-bottom: 1px solid #eee;
	width: 100px;
	-moz-border-radius: 0px;
}
ul#you_menu li:hover ul li a:hover{
	background: #fafafa
}
#session img#you_img{
	border: none;
	width: 16px;
	float: left;
	margin: 0px 10px 0px 0px;
	height: 16px;
	background: black;
	-moz-border-radius: 0px;
}

ul.breadcrumbs{
	list-style: none;
	padding: 0px;
	margin: 0px;
	color: #ccc;
	font-size: 18px;
	margin-bottom: 30px;
	height: 20px;
	display: block;
}
ul.breadcrumbs li{
	float: left;
}
ul.breadcrumbs li a{
	float: left;
}
#breadcrumb_delimiter{
	float: right;
	margin: 4px 7px 0px;
	background-image: url('green/images/ui-icons_888888_256x240.png');
}
#good_sidebar{
	width: 150px;
	float: left;
	margin-right: 40px;
	margin-left: 20px;
}
#good_sidebar img{
	border: 2px solid #ccc;
}
#good_right{
	float: left;
	border-left: 1px solid #eee;
	padding-left: 30px;
	width: 655px;
	min-height: 155px;
}

.gift_module{
	width: 610px;
	float: left;
}
.gift_module.dashboard{
	width: 880px;
}
.gift_module .top{
	background: url('../images/gift_module_top.gif');
	height: 19px;
	display: block;
}
.gift_module.dashboard .top{
	background: url('../images/gift_module_top_wider.gif');
}

.gift_module .middle{
	background: url('../images/gift_module_bg.gif') repeat-y;
	padding: 20px 40px;
}
.gift_module.dashboard .middle{
	background: url('../images/gift_module_bg_wider.png') repeat-y;
}

.gift_module .bottom{
	background: url('../images/gift_module_bottom.gif') repeat-y;
	height: 19px;
	display: block;
	clear: both;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
}
.gift_module .bottom.shadow{
	background: url('../images/gift_module_bottom_shadowed.png') no-repeat;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: auto auto 0px 0px;

	height: 22px;
	position: absolute;
	width: 650px;
}
.gift_module.dashboard .bottom.shadow{
	background: url('../images/gift_module_bottom_shadowed_wider.png') no-repeat;
	width: 880px;
}

.gift_module .alt_bottom{
	height: 42px;
	display: block;
	background: url('../images/gift_module_alt_bottom.png') no-repeat;
	border-top: 1px solid #ccc;
}

.gift_module img{
	border: 2px solid #CCC;
	float: left;
}

.gift_module .right{
	float: right;
	width: 350px;
}
.gift_module.dashboard .bottom_toolbar{
	height: 50px;
	display: block;
	background: url('../images/gift_module_alt_bottom_shadowed.png') no-repeat;
	margin-top: -4px;
}
.gift_module.dashboard .middle img{
	width:  60px;
}
.gift_module.dashboard .right{
	width: 720px;
}
.gift_module h1{
	color: #379bd8;
	margin-top: 0px;
	float: left;
}
.gift_module .right p{
	clear: both;
}
.gift_module .right .key{
	margin: 0;
	font-family: georgia, times, serif;
	font-style: italic;
	color: #aaa;
	font-weight: normal;
}
.gift_module .right p#tags .key{
	margin-right: 10px;
}
.gift_module .right table{
	width: 100%;
}
.sidebar {
	display: block;
	float: right;
	width: 260px;
	margin-bottom: 25px;
	clear: right;
}
.sidebar .top, .module .top{
	height: 20px;
	padding: 10px 15px 7px;
}
.sidebar .top{
	background: url('../images/sidebar_module_top.png') no-repeat;
}
.sidebar .top.no-title{
	height: 5px;
	padding: 0;
	background: none;
	border: 1px solid #CCCCCC;
	border-bottom: none;
    -webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
.module .top{
	background: url('../images/module_top.png') no-repeat;
}
.sidebar .center{
	background: url('../images/sidebar_module_center.png') repeat-y;
	padding: 15px;
}
.module .center{
	background: url('../images/module_bg.png') repeat-y;
	padding: 15px;
}
.sidebar .top h2, .module .top h2{
	font-size: 16px;
	text-shadow: 0 1px 0 #FFFFFF;
	font-weight: normal;
	margin: 0;
	line-height: 20px;
}
.sidebar .bottom, .module .bottom{
	height: 6px;
	display: block;
}
.sidebar .bottom{
	background: url('../images/sidebar_module_bottom.png') no-repeat;
}
.module .bottom{
	background: url('../images/module_bottom.png') no-repeat;
}
.sidebar#giver img{
	border: 2px solid #ccc;
	max-width: 50px;
	float: left;
	margin-right: 10px;
}
.sidebar#giver .location{
	display: block;
}
a#request_gift_button{
	background-image: url('../images/request_gift_sprite.gif');
	background-position: 0px 0px;
	display: block;
	height: 54px;
	width: 250px;
	outline: none;
	background-repeat: no-repeat;
	margin: 40px 0px 0px;
}
a#request_gift_button:hover{
	background-position: 0px -60px;
}
a#request_gift_button:active{
	background-position: 0px -121px;
}
a#request_gift_button.requested{
	background-position: 0px -181px;
}
a#request_gift_button.rejected{
	background-position: 0px -241px;
}

a#offer_gift_button{
	background-image: url('../images/make_offer_sprite.gif');
	background-position: 0px 0px;
	display: block;
	height: 54px;
	width: 250px;
	outline: none;
	background-repeat: no-repeat;
	margin: 40px 0px 0px;
}
a#offer_gift_button:hover{
	background-position: 0px -60px;
}
a#offer_gift_button:active{
	background-position: 0px -121px;
}
a#offer_gift_button.offered{
	background-position: 0px -181px;
}

.request_form{
	margin: 0px 10px;
	background: #fafafa;
	background-image: url('../images/drawer_top.png');
	background-repeat: repeat-x;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 20px;
	min-height: 50px;
	margin-top: 0px;
}
#edit_gift_form .main{
	clear: both;
	padding-right: 20px;
}
#edit_gift_form label{
	color:#AAAAAA;
	display:block;
	font-family:georgia;
	font-style:italic;
	margin-bottom:7px;
}
ul.tag_cloud {
	padding: 0;
	margin: 20px 0 0;
	list-style: none;
}
ul.tag_cloud li{
	background: none;
	border: none
	margin-bottom:5px;
	padding: 4px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
}
ul.tag_cloud li a.delete_tag{
	width: 1.5em;
	height: 1.1em;
	margin-bottom: -3px;
	float: right;
}
#tag_editor_input{
	width: 155px;
}
a#add_this_tag {
	float: right;
	width: 41px;
	height: 41px;
}
a#add_this_tag .ui-button-text{
	padding: 12px;
}
p#tag_editor{
	margin: 0;
}
#edit_this_gift_info{
	background: url('../images/edit_gift_button_sprite.png');
	height: 31px;
	width: 84px;
	display: block;
	float: right;
}
#edit_this_gift_info:hover{
	background-position: 0px -40px;
}

#edit_this_gift_info:active{
	background-position: 0px -80px;
}
.jquery-notify-bar{
	opacity: .85;
    	filter: alpha(opacity=85);
}
input[type=submit].blue{

	background: url('../images/submit_sprite.gif') no-repeat 0 0;
	width: 123px;
	height: 53px;
	border: none;
	outline: none;
	color:transparent;
	cursor: pointer;
}
input[type=submit].blue:hover{
	background-position: 0px -60px;
}
input[type=submit].blue:active{
	background-position: 0px -120px;
	outline: none;
	text-decoration: none;
	border: none;
}
button::-moz-focus-inner { border: 0; }
input::-moz-focus-inner{ border: 0; }

.no_results{
	width: 90%;
}
.no_results h2{
	margin-top: 10px;
}

ul.simplePagerNav{
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 10px;
}
ul.simplePagerNav li{
	float: left;
	margin-right: 2px;
}
ul.simplePagerNav li a{
	border: 1px solid #6cb6e2;
	color: #6cb6e2;
	padding: 5px 11px;
	font-size: 14px;
}
ul.simplePagerNav li.currentPage a{
	background: #6cb6e2;
	cursor: default;
	color: #fff;
}

input.ui-button, input.ui-button.ui-state-active, a.ui-button, a.ui-button.ui-state-active{
	font-size: 16px !important;
	text-shadow: #FFF 1px 1px;
	font-weight: bolder;
}

table.ui-widget{
	width: 100%;
}

.addthis_button_facebook_like{
	padding-top: 2px;
	overflow: hidden;
}

ul#linked_accounts li{
	background-image: url('../images/status_silver.png');
	background-repeat: no-repeat;
	background-position: 0% 50%;
	padding-left: 30px;
}

ul#linked_accounts li.active{
	background-image: url('../images/status_green.png');
}
ul#linked_accounts li{
	height: 28px;
}
ul#linked_accounts li span {
	display: inline-block;
	margin-top: 5px;
}
.fluster_marker{
	background: url("../images/cluster_ring_padded_medium.png") no-repeat scroll 50% 50% transparent !important;
}
.fluster_marker:hover{
	background: url("../images/cluster_ring_padded_medium_hover.png") no-repeat scroll 50% 50% transparent !important;
}
#dash_map{
	width: 100%;
	height: 250px;
	display: block;
}
ul.button_tabs{
	list-style: none;
	padding: 0;
	margin: 5px 0px 30px 0px;
	height: 30px;
}
ul.button_tabs li{
	float: left;
}
ul.button_tabs li a{
	display: block;
	padding: 0.25em 0.5em;
	color: #333;
	text-decoration: none;
	margin: 0px 7px 0px 0px;
	font-size: 15px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: none;
}
ul.button_tabs li a:hover{
	background: #ddd;
	border: none;
}
ul.button_tabs li a.active{
	background: #222;
	color: #fff;
}
#about_press a img{
	border: none;
	width: 280px;
}
#about_donate a img{
	border: none;
	width: 250px;
}
#about_future a img{
	border: px;
	width: 250px;
}
a.gift_toolbar{
	margin: 8px 12px 8px 0;
	float: right;
	padding: 4px 10px 4px 6px;
	background: #EEE;
	color: #333;
	font-weight: normal;
	font-size: 13px;
	border: 1px solid #AAA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
a.gift_toolbar .ui-icon{
	float: left;
	margin-right: 5px;
}
a.gift_toolbar:focus{
	outline: none;
}
a.gift_toolbar:hover{
	border: 1px solid #888;
}
#your_transactions .sidebar{
	width: 220px;
	border-right: 1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px 5px 0 5px;
}
#transaction-view .right_content{
	width: 760px;
	padding: 0px;
}
.transaction-overview-text{
	margin: 5px 0 0 10px;
	width: 360px;
}
.transaction-overview-text h2{
	margin: 5px 0;
}
.transaction-status{
	text-transform: capitalize;
	display: inline-block;
	padding: 4px 8px;
	font-size: 11px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.transaction-status.active{
	background-color: #65B15B;
	color: #FFF;
}
.transaction-status.pending{
	background-color: yellow;
	color: #000;
}
.transaction-status.declined, .transaction-status.cancelled{
	background-color: red;
	color: white;
}
.transaction-status.completed{
	background-color: #30642A;
	color: #fff;
}
#transaction-messages {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #EEE;
}
#transaction-messages .message{
	border-top: 1px solid #EEE;
	padding: 15px 25px 15px 60px;
	width: 675px;
}
#transaction-messages .message .text{
	margin: 0 20px;
	width: 350px;
}
#transaction-messages .metadata .left{
	margin-right: 8px;
}
#transaction-messages .metadata-date{
	margin: 2px 0 0;
	color: #AAA;
	font-size: 12px;
}
#transaction-messages .metadata-author{
	font-size: 15px;
	color: #000;
}
#transaction-messages .metadata-author:hover{
	text-decoration: underline;
}
#transaction-messages .message .body{
	font-size: 14px;
}
.transaction-main .history, .transaction-main h3.messages_title{
	padding-left: 62px;
}
.transaction-main h3, .transaction-main .history ul li{
	color: #AAA;
}
.transaction-main h3{
	margin:1em 0 0.9em;
}
.transaction-main .history ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.transaction-main .history ul li{
	font-size: 13px;
	padding: 5px 0;
	border-bottom: 1px solid #EEE;
}
.transaction-main #transaction_reply textarea{
	height: 100px;
	border: 1px solid #AAA;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 14px;
	padding: 5px;
}
.transaction-main #message_body {
	margin: 10px 0;
}
.search_module input[type=text]{
	font-size: 20px;
	width: 550px;
}
.search_module .ui-button{
	padding: 13px 15px 12px;
}
.give_button{
	display:inline;
	float:right;
}
.positive{
	color:#65B15B;
}
.neutral{
	color:#FFD300;
}
.negative{
	color:#FF0000;
}
.offer_link{
 	float:left;
 	margin-top:18px;
 	margin-right:15px;
}
.normal{
	font-weight:normal;
}
#skip_welcome{
	display:block;
	float:right;
}

#welcome_header{
	display:block;
	width:100%;
	margin: 5px 5px 5px 5px;
}
.welcome_block{
	display:block;
	width:30%;
	font-weight:300;
	font-size:16px;
	text-align:center;
	float:left;
	margin: 5px 10px 5px 10px;
}
#welcome_three{
	display:block;
	width:100%;
}
#hyperlocal{
	width:100%;
	display:block;
	margin-top: 20px;
	float:left;
}
ul.transactions{
	list-style: none;
	padding: 0;
	border-top: 1px solid #CCC;
	margin: 20px 0 0;
}
ul.transactions li, .transaction-summary{
	padding: 10px;
	margin: 0;
	display: block;
	border-bottom: 1px solid #ddd;
}
.transaction-summary{
	padding: 25px 25px 25px 30px;
	border-top: 1px solid #ddd;
}
ul.transactions li.unread, ul.transactions li.unread:hover {
	background: #F7FCFF;
}
ul.transactions li:hover {
	background: #FCFCFC;
	cursor: pointer;
}
ul.transactions li img.status_icon, .transaction-summary img.status_icon{
	margin: 20px 20px 0 12px;
	width: 22px;
	height: 23px;
}
.transaction-summary a.user_image{
	margin-left: 30px;
}
.transaction-summary img.status_icon{
	margin: 28px 20px 0 15px;
}
.transaction-summary .metadata-bottom {
	margin: 15px 0;
	cursor: default;
}
.transaction-summary .metadata-bottom p{
	margin: 0;
}
.transaction-summary .metadata-bottom .meta-label{
	width: 88px;
	text-align: right;
	margin-right: 25px;
	font-size: 14px;
	margin-top: 1px;
}
.transaction-summary .metadata-bottom .field{
	width: 400px;
}
ul.transactions li .status, .transaction-summary .status{
	text-align: center;
	width: 70px;
	font-size: 11px;
}
.transaction-summary .updated{
	font-size: 12px;
	color: #ccc;
	margin-top: 5px;
}
ul.transactions li .metadata, .transaction-summary .metadata{
	float: left;
	width: 350px;
	margin-left: 20px;
}
ul.transactions li .metadata a.title, .transaction-summary .metadata a.title{
	margin: 4px 0 4px;
	font-size: 14px;
	display: block;
	color: #333;
}
ul.transactions li:hover .metadata a.title {
}
.transaction-summary .metadata a.title {
	font-size: 20px;
}
ul.transactions li .metadata span, ul.transactions li .metadata span a, .transaction-summary .metadata span, .transaction-summary .metadata span a{
	font-size: 12px;
	font-weight: normal;
	color: #777;
}
ul.transactions li .updated{
	color: #CCC;
	margin: 5px 8px 0 0;
	font-size: 12px;
}
ul.tooltip_menu{
	display: none;
	list-style: none;
	width: 150px;
	background: white;
	padding: 0;
	margin: 2.2em 0 0 0;
	position: absolute;
	border: 1px solid #333;
	-moz-border-radius: 4px;
	float: right;
	filter:alpha(opacity=100) !important;
	-moz-opacity:1 !important;
	opacity: 1 !important;
	z-index: 500;
	padding: 10px 0px;
}
ul.list_menu li ul.tooltip_menu li,ul#locations_list li ul.tooltip_menu li:hover{
	background: none;
	padding: 0 !important;
	margin: 0;
	border-bottom: 0px;
}
ul.list_menu li ul.tooltip_menu li a{
	display: block;
	padding: 5px 10px;
	border-bottom: 0px;
	font-size: .8em;
}
ul.list_menu li ul.tooltip_menu li a:hover{
	background: #555;
	color: white;
}
ul.list_menu li ul.tooltip_menu li a .ui-icon{
	margin-right: 10px;
	float: left;
}
ul.list_menu li ul.tooltip_menu li a:hover .ui-icon{
	background-image: url("green/images/ui-icons_ffffff_256x240.png");
}
ul.list_menu li .list_controls .options.clicked{
	opacity: 1;
	filter:alpha(opacity=100) !important;
	-moz-opacity:1 !important;
	background: url('green/images/secondary_hover.png') 50% 50% repeat-x #979797;
}
ul.list_menu li .list_controls .options.clicked .ui-icon{
	background-image: url("green/images/ui-icons_454545_256x240.png");
}

#more_photos{
	padding-top:20px;
	float: right;
}
.photo_block
{
	display:block;
	width:30%;
	font-weight:300;
	font-size:16px;
	float:left;
	margin: 5px 5px 5px 5px;
}
#add_good.jqmWindow{
	top: 5%;
}
#current_category {
	color: #555555;
    text-decoration: none;
    float:left;
    margin-left:50px;
}
#beta_features {
    color: #333333;
    font-size: 14px;
    font-weight: 300;
}
#slideshow{
    background-color:#F5F5F5;
    border:1px solid #FFFFFF;
    height:400px;
    margin:20px auto 0;
    position:relative;
    width:600px;
    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;
}

#slideshow ul{
    height:360px;
    left:0px;
    list-style:none outside none;
    overflow:hidden;
    position:absolute;
    top:0px;
    width:540px;
}

#slideshow li{
    position:absolute;
    display:none;
    z-index:10;
}

#slideshow li:first-child{
    display:block;
    z-index:1000;
}

#slideshow .slideActive{
    z-index:1000;
}

#slideshow canvas{
    display:none;
    position:absolute;
    z-index:100;
}

#slideshow .arrow{
    height:86px;
    width:60px;
    position:absolute;
    background:url("../images/arrows.png") no-repeat;
    top:50%;
    margin-top:-43px;
    cursor:pointer;
    z-index:5000;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}#your_profile {
	float:right;
	margin:20px;
	height:30px;
	font-size:14px;
}
#landing_left {
	width:40%;
	float:left;
	padding: 15px 0px 0px 50px;
  margin: 0px 20px 0px 0px;
}

#landing_right {
	width:40%;
	float:right;
	margin: 0px 0px 0px 0px;
}
.landing_panel {
	width:300px:
	float:right;
}
#landing_overlay {
	 position: absolute; /* important */
   top:262px;
   left: 275px;
   width: 75px;
   font: 12px/12px;
   padding: 2px 2px 2px 2px;
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.8; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.8; /* here you can set the opacity of box with text */
   opacity: 0.8; /* here you can set the opacity of box with text */
   background-color: #65b15b;
   color: white;
   z-index:1;
 	 text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
#video_thumb {
	margin: 22px 0px 0px 0px;
}
div#options a {
   width:150px;
}
img.people_header {
  width: 100px;
}
.button_lil {
  margin: 3px 0px 0px 7px;
}
.location_header {
  margin: 0px 0px 30px 0px;
  font-size:20px;
  padding: 3px 6px 3px 6px;
  border: 2px solid #DDDDDD;
  width:600px;
}
#add_button {
  margin: 0px 0px 0px 600px;
}

/* css for Activity feed */
.events {
  padding: 0px 0px 0px 30px;
}

.event_created {
    font-size: 0.8em;
    color: #666666;
    float:right;
    margin-right: -100px;
}
.event_created img {
    width:10px;
    padding:auto;
    margin: auto;
}
.event_review {
  margin: 5px 5px 5px 5px;
	font-size: 14px;
	font-weight: normal;
	color: #777;
}

span.event_summary {
  display:block;
  margin: 0px 0px 14px 0px;
}
.event_text {
  display:inline;
  float:left;
  font-size: 0.8em;
  width: 300px;
  color: #666666;
  margin: 10px 0px 10px 10px;
}

.trans_participant {
  float:left;
  width: 300px;
}
.event_content {
  float:left;
  width: 500px;
}
#quick_buttons {
  float:right;
  margin: -10px 0px 10px 0px;
}

.dropdown-menu li{
	padding: 0 !important;
	border-bottom: none !important;
}